@font-face {
    font-family: Manrope;
    src: url("../fonts/Manrope.ttf");
}

html{
    width: 100%;
    height: 100%;
}

body{
    font-family: Manrope;
    font-weight: 800;
    width: 100%;
    height: 100%;
    background-color: hsl(218, 23%, 16%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.advice-bloc{
    width: 35%;
    height: 40%;
    background-color: hsl(217, 19%, 24%);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advice-id{
    font-weight: 600;
    color: hsl(150, 100%, 66%);
    letter-spacing: 5px;
    font-size: 10px;
    text-transform: uppercase;
    margin: 30px 0 23px 0;
}

.advice-text{
    width: 80%;
    font-size: 23px;
    text-align: center;
    color: hsl(193, 38%, 86%);
}

.pattern-divider{
    background-image: url("../../images/pattern-divider-desktop.svg");
    width: 80%;
    height: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 35px;
}

.icon-dice{
    border-radius: 50%;
    background-color: hsl(150, 100%, 66%);
    width: 45px;
    height: 45px;
    position: absolute;
    top: 67%;
    display: grid;
    place-items: center;
}

.icon-dice:hover{
    cursor: pointer;
    box-shadow: 1px 1px 30px hsl(150, 100%, 66%);
}

.icon-dice img{
    width: 18px;
}

.attribution { 
    position: absolute;
    bottom: 0;
    font-size: 11px; 
    text-align: center; 
}

/* Responsive Design -- Smartphone*/
@media screen and (max-width: 375px) {
    .advice-bloc{
        width: 90%;
        height: 40%;
    }

    .pattern-divider{
        background-image: url("../../images/pattern-divider-mobile.svg");
    }

    .icon-dice{
        top: 68%;
    }
}
.attribution a { color: hsl(228, 45%, 44%); }